.testimonial-item h1,
h2,
h3,
h4,
h5 {
	color: #3e3d3d;
	font-weight: 100;
	font-size: 3.4em;
	margin-bottom: 0.3em;
	line-height: normal;
}
.testimonial-item p {
	color: #3e3d3d;
	line-height: normal;
	word-spacing: normal;
	letter-spacing: normal;
}
.swiper-container {
	width: 100%;
	overflow: hidden;
}
.no-margin {
	margin: 0;
}
.rel-wrapper {
	position: relative;
}
.testimonial-wrapper {
	text-align: center;
}
.testimonial-wrapper h2 {
	font-weight: 700;
	color: #fff;
	font-size: 1.8rem;
	padding: 10vh 10% 35vh;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
.testimonial-wrapper h2 em {
	display: block;
	font-weight: 400;
	font-size: 0.85rem;
	letter-spacing: 0.3rem;
}
.testimonial-list {
	background-color: #fff;
	border-radius: 0.5rem;
	margin: 0 auto 0;
	width: 55%;
	box-shadow: 0 0.8rem 2rem -0.07rem rgba(0, 0, 0, 0.2);
}
.testimonial-item {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	font-size: 1em;
	font-weight: 100;
	overflow-x: hidden;
	position: relative;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	white-space: normal;
	padding: 5rem 10% 3rem 15%;
	width: 75%;
}
.testimonial-item img {
	display: block;
	margin: 0;
	width: 8%;
	position: absolute;
	top: 2rem;
	left: 5rem;
}
.testimonial-item .heading {
	font-size: 1.8rem;
	color: #3e3d3d;
	font-weight: 700;
	line-height: 1.2;
}
.testimonial-item .para {
	font-weight: 400;
	color: #7f7f7f;
	font-size: 1rem;
	line-height: 1.6;
}
.testimonial-item .testimonials-by {
	text-align: right;
	margin-top: 2rem;
}
.testimonial-item .name {
	font-weight: 700;
	font-size: 1.25rem;
	color: #7b7b7b;
	line-height: 1;
	margin-bottom: 0.3rem;
	margin-right: 5px;
	overflow: hidden;
}
.testimonial-item .designation {
	font-weight: 500;
	font-size: 0.85rem;
	color: #7f7f7f;
	letter-spacing: 0.15rem;
}
.testimonial-item.selected em {
	animation-name: loadFromBottom;
}
@media only screen and (max-device-width: 767px) {
	.testimonial-item {
		padding: 5rem 10% 3rem;
		width: 80%;
	}
}
