.homes{
     margin-left: 90px;
    margin-right: 90px;
  /*  border: 1px solid black;*/
    margin-bottom: 50px;
       background-color: #BFDBF7;
  /*  background-color: #E6EBE0;*/
}
.homes h1{
    margin-bottom: 61px;
}
.first{
    margin-top: 127px;
    margin-right: 556px;
 /* color: black;*/

 margin-left: 50px;
}
.second{
        margin-top: 40px;
   /*color: black;*/
    margin-right: 414px;
    margin-bottom: 55px;
     margin-left: 50px;
}
.third{
    
    padding-top: 30px;
   /*color: black;*/
    margin-top: 26px;
    margin-right: 450px;
     margin-left: 50px;
     margin-bottom: 19px;
}
.fourth{
    margin-top: 61px;
/* color: black;*/
    margin-right: 556px;
     margin-left: 50px;
     margin-bottom: 110px;
  
}
.homes p{
  /*  margin-top: 140px;*/
    font-size: 19px;
    font-weight: 500;
  /*  margin-left: 30px;
    margin-right: 50px;*/
  /* color: white;*/
   color:black;

}
.homes img{
    height: 40vh;
    margin-right: 61px;
    margin-top: 100px;
}

@media screen and (max-width:800px) {
  .homes, .first, .fourth ,.second , .third{
    width: 90%;
    margin-left: 26px;
    padding-bottom: 1px;
  }
  .homes img{
    display: none;
  }
  .first{
    margin-top: 46px;
  }
  
 
}


